@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    @apply lg:text-[3.5rem] lg:leading-tight text-4xl font-semibold;
}

p {
    @apply text-theme-grey;
}

h3 {
    @apply font-semibold lg:text-2xl text-xl;
}

h4 {
    @apply font-semibold text-lg;
}

h5 {
    @apply font-semibold;
}

.marquee-container {
    overflow: hidden;
    animation: marquee 10s linear infinite;
}

.marquee-content {
    font-size: 1.5em;
    /* animation: textAnimation 5s linear infinite; */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes textAnimation {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
